@charset "UTF-8";

:root {
    --cor1: #D99AC8;
    --cor2: #082B59;
    --cor3: #4E74A6;
    --cor4: #99D9F2;
    --cor5: #232D3F;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

@keyframes cor {
    0% {
        color: var(--cor1);
        transform: scale(1);
    }

    25% {
        color: var(--cor2);
    }

    50% {
        color: var(--cor3);
    }

    75% {
        color: var(--cor4);
    }

    100% {
        color: var(--cor5);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: 80px 50px 50px 1200px 50px 30px  / 2fr 6fr 2fr;
    place-items: center center;
    background-image: linear-gradient(to top, var(--cor2), var(--cor5));
    background-attachment: fixed;
}

header {
    background-color: var(--cor2);
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / -1;
}

header > h1 {
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
    font-family: "Shadows Into Light", cursive;
}

nav {
    grid-area: 2 / 1 / 3 / -1;
    background-color: var(--cor3);
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Geo", sans-serif;
}

nav > ul {
    display: inline-block;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
    padding: 5px;
    cursor: pointer;
    background-color: var(--cor2);
    border-radius: 10px;
    margin: 5px;
    list-style-type: none;
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    padding: 5px;
}

li#img1, li#img2, li#img3 {
    display: none;
    margin-left: 20px;
    background-color: var(--cor1);
    border-radius: 10px;
}

main {
    grid-area: 4 / 2 / 5 / 3;
    background-color: var(--cor3);
    color: white;
    width: 100%;
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: "Playwrite US Modern", cursive;
}

main > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid var(--cor2);
}

.rgb {
    animation: cor 5s infinite;
}

main > h1 {
    font-family: "Shadows Into Light", cursive;
    text-align: center;
    padding: 10px;
}

main > p > strong {
    color: var(--cor1);
}

main > p {
    text-align: center;
    padding: 10px;
}

main > section {
    padding: 10px;
}

section#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section#container > section {
    flex: 1 1 300px;
}

section#container > section > h2 {
    text-decoration: underline;
}

section#container > section > iframe {
    display: block;
    margin: 20px auto;
    width: 80%;
}

section#container > section > img{
    display: block;
    margin: auto;
}

section#container > section > input{
    display: block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.432);
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
}

section#container > section > input:hover {
    cursor: pointer;
}